<h1>Listing ideas</h1>

<table>
  <tr>
    <th>Idee nimi</th>
    <th>Kirjeldus</th>
    <th>Pilt</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ideas.each do |idea| %>
  <tr>
    <td><%= idea.name %></td>
    <td><%= idea.description %></td>
    <td><%= image_tag(idea.picture.thumb.url) if idea.picture.present? %></td>
    <td><%= link_to 'Vaata', idea %></td>
    <td><%= link_to 'Muuda', edit_idea_path(idea) %></td>
    <td><%= link_to 'Kustuta', idea, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Uus idee', new_idea_path %>
