<h1>Listing cats</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Picture</th>
    <th>Location</th>
    <th>Age</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cats.each do |cat| %>
  <tr>
    <td><%= cat.name %></td>
    <td><%= cat.description %></td>
    <td><%= cat.picture %></td>
    <td><%= cat.location %></td>
    <td><%= cat.age %></td>
    <td><%= link_to 'Show', cat %></td>
    <td><%= link_to 'Edit', edit_cat_path(cat) %></td>
    <td><%= link_to 'Destroy', cat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cat', new_cat_path %>
